* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #9189EB;
}

.bold {
  font-weight: bold;
}

.nav-logo {
  max-width: 100px;
}

section {
  padding: 20px;
  display: flex;
}


.hero {
  display: flex;
  flex-direction: column;
}

.hero-photo {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 16px;
}

.hero-text {
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  margin: 1.2rem;
}

.card-image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

